// Colors
$red: #e50914;
$black: #221f1f;
$blackblack: #000000;
$grey: #f5f5f1;
$white: #ffffff;

.Logo {
  width: 151px;
  height: 41px;
  margin-right: 10px;
  transition: margin 0.125s ease;

  svg {
    transform: scale(0.5);
    transform-origin: 0 0;

    path {
      fill: $red;
      transition: fill 0.125s ease;
    }
  }

  &:hover {
    cursor: pointer;
    margin-top: 2px;
    svg {
      path {
        fill: $white !important;
      }
    }
  }
}

